@import url(fonts.css);
@import url(reset.css);

/* Основні стилі */
body {
  font-family: "Inter", sans-serif;
  color: #000;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.page {
  display: flex;
  flex-direction: column;
}

/* Обмежуючий контейнер */
[class*="__container"] {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer__text {
  text-align: center;
  line-height: 2;
  letter-spacing: 5px;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fefbf7;
}
.header__container {
  display: flex;
  gap: 20px;
  align-items: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
}
.menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  row-gap: 8px;
  flex-wrap: wrap;
}
.menu__link {
  font-family: "Merriweather", serif;
  font-size: 20px;
}
.menu__item--active .menu__link {
  font-weight: 700;
  color: #d58417;
  text-decoration-line: underline;
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent .menu__link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.menu__item--parent .menu__link::after {
  content: "";
  background: url("../img/ico-menu-arrow.webp") 0 0 no-repeat;
  flex: 0 0 16px;
  height: 8px;
  width: 16px;
  transition: transform 0.3s;
}
.sub-menu {
  transition: all 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  /* Чудова властивість */
  pointer-events: none;
}
.sub-menu__list {
  width: 150px;
  border-radius: 0 15px 15px;
  padding: 15px;
  background-color: #d58417;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sub-menu__link {
  color: #000;
  font-size: 18px;
}
@media (any-hover: hover) {
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    pointer-events: all;
  }
  .menu__item--parent:hover .menu__link::after {
    transform: rotate(-180deg);
  }
  .sub-menu__link:hover {
    text-decoration: underline;
  }
}
.header__actions {
  flex-shrink: 0;
}
.actions-header {
  display: flex;
  align-items: center;
  gap: 23px;
  position: relative;
  z-index: 5;
}
.actions-header__item {
  flex: 0 0 32px;
  position: relative;
  transition: transform 0.3s;
}
.actions-header__item span {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  background-color: #ff3333;
  width: 12px;
  height: 12px;
  color: #fff;
  font-size: 9px;
  text-align: center;
  line-height: 12px;
}

@media (any-hover: hover) {
  .actions-header__item:hover {
    transform: scale(1.1);
  }
  .menu__item:hover .menu__link {
    text-decoration-line: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 50px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    padding: 80px 15px 30px 15px;
    background-color: #f7ab78;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    z-index: 2;
    transition: left 0.3s;
    background-color: #f7ab78;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }
  .menu__link {
    font-size: 28px;
  }
  .menu__item--parent .menu__link {
    display: block;
  }
  .menu__item--parent .menu__link::after {
    display: none;
  }

  .sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
    transform: translate(0px, 0px);
  }
  .sub-menu__list {
    width: 100%;
    border-radius: 0;
  }
  .sub-menu__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .sub-menu__link {
    color: #000;
    font-size: 24px;
  }

  .icon-menu {
    width: 30px;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}
@media (max-width: 440px) {
  .header__container {
    gap: 5px;
  }
  .header__logo {
    font-size: 24px;
  }
  .actions-header {
    gap: 10px;
  }
}

/* Hero */
.hero {
  background-color: #502203;
  padding: 100px 0px 55px 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100dvh - 100px);
}
.hero__container {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
}

.hero__body > * {
  margin-bottom: 9px;
}

.hero__title {
  font-family: "Cormorant Infant", serif;
  color: #fff;
  font-weight: 700;
  font-size: 78px;
  line-height: 129%;
}
.hero__button {
  color: #fff;
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  font-weight: 600;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 4px;
  position: relative;
}
.hero__button::before {
  border-radius: 4px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12px;
  left: -8px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.06);
}

@media (any-hover: hover) {
  .hero__button:hover::before {
    top: 0;
    left: 0;
  }
}

.hero__body > *:last-child {
  margin-bottom: 0;
}
.hero__image {
  flex-basis: 36.75%; /* 430/1170 */
  flex-shrink: 0;
  border-radius: 215px;
  border: 1px solid #fff;
  padding: 28px 20px;
}
.hero__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 390 / 554;
  object-fit: cover;
  object-position: center;
  border-radius: 195px;
}
.content-hero {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}
.content-hero__text {
  color: #fff;
  font-family: "Cormorant Infant", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 148%; /* 32.56px */
  flex-grow: 1;
}
.content-hero__item {
  color: #fff;
  font-family: "Cormorant Infant", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  padding-left: 10px;
  position: relative;
}
.content-hero__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  background-color: #fff;
  transform: translate(0px, -50%);
  height: 78.947368%; /* 60/76 */
}

@media (max-width: 1200px) {
  .hero__title {
    font-size: 64px;
  }
}
@media (max-width: 991.98px) {
  .hero {
    padding: 90px 0px 40px 0px;
  }
  .hero__container {
    flex-direction: column;
    gap: 40px;
    align-items: stretch;
  }
  .hero__body {
    text-align: center;
  }
  .hero__image {
    align-self: center;
  }
}

@media (min-width: 991.98px) {
  .hero__content {
    flex-basis: 31.625%;
    padding-top: 76px;
    padding-left: 30px;
    flex-shrink: 0;
  }
  .hero__body {
    flex-basis: 31.625%;
    flex-shrink: 0;
    padding-top: 57px;
    padding-right: 30px;
  }
  .content-hero__item {
    align-self: flex-end;
  }
  .content-hero__item {
    margin-bottom: 183px;
  }
}

.decors__left {
  transform: rotate(-49.663deg);
  position: absolute;
  left: -260px;
  top: -64px;
  /* left: -13%;
  top: -9%; */
}
.decors__right {
  transform: rotate(-82.6deg);
  position: absolute;
  right: -240px;
  /* right: -12%; */
  top: 29%;
}
.decors__image-left {
  max-width: 239px;
  position: absolute;
  left: 2.75%;
  bottom: 0;
}
.decors__image-left::before {
  content: "";
  border: 1px solid #fff;
  border-radius: 195px 195px 0px 0px;
  position: absolute;
  top: -5px;
  left: -6px;
  width: 100%;
  height: 100%;
}
.decors__image-left img {
  border-radius: 195px 195px 0px 0px;
  width: 100%;
  height: 100%;
  aspect-ratio: 239 / 214;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.decors__image-right {
  max-width: 262px;
  position: absolute;
  right: -105px;
  bottom: 7%;
  border-radius: 215px;
  border: 1px solid #fff;
  padding: 17px 12px;
}
.decors__image-right img {
  border-radius: 195px;
  width: 100%;
  height: 100%;
  aspect-ratio: 237 / 337;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1600px) {
  .hero__decors {
    display: none;
  }
}

/* Jewelry */
.jewelry {
  background-color: #fff9f4;
  padding: 100px 0px 55px 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: calc(100dvh - 100px);
}
.jewelry__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.jewelry__body {
  flex: 0 0 48.6%;
}

.jewelry__title {
  color: #0e333d;
  font-family: "DM Serif Text", serif;
  font-size: 78px;
  line-height: 1.27;
}
.jewelry__title:not(:last-child) {
  margin-bottom: 32px;
}
.jewelry__text {
  color: #727272;
  font-size: 22px;
  line-height: 1.48;
}
.jewelry__text:not(:last-child) {
  margin-bottom: 48px;
}
.jewelry__text p:not(:last-child) {
  margin-bottom: 10px;
}
.jewelry__buttons {
  display: flex;
  gap: 47px;
  align-items: center;
  flex-wrap: wrap;
}
.jewelry__button {
  padding: 9px 43px;
  border: 1px solid #0e333d;
  border-radius: 5px;
  background: #0e333d;
  color: #fff;
  font-family: "DM Serif Text", serif;
  font-size: 28px;
  transition: all 0.3s;
}
.jewelry__link {
  color: #0e333d;
  font-family: "DM Serif Text", serif;
  font-size: 28px;
  text-decoration-line: underline;
}
@media (any-hover: hover) {
  .jewelry__button:hover {
    border: 1px solid #0e333d;
    background: transparent;
    color: #0e333d;
  }
  .jewelry__link:hover {
    text-decoration-line: none;
  }
}
.jewelry__images-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  min-height: 538px;
  flex-wrap: wrap;
}
.jewelry__image-item {
  flex: 0 0 246px;
  max-width: 246px;
  width: 100%;
  height: 100%;
  aspect-ratio: 246 / 468;
  object-fit: cover;
  object-position: center;
}
.jewelry__image-item--left {
  object-position: left center;
}
.jewelry__image-item:nth-child(odd) {
  align-self: flex-end;
}
@media (max-width: 1096px) {
  .jewelry__body {
    flex: 0 0 100%;
  }
  .jewelry__images-list {
    min-width: 100%;
    justify-content: space-evenly;
  }
}
@media (max-width: 1200px) {
  .jewelry__title {
    font-size: 64px;
  }
}
@media (max-width: 560px) {
  .jewelry__title {
    font-size: 64px;
  }
}
@media (max-width: 420px) {
  .jewelry__buttons {
    justify-content: center;
    gap: 20px;
  }
}
