// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";

body {
  background-color: #fff;
}
.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  flex-grow: 1;
}
